.footer-bcontainer {
    padding-bottom: 43px;
    border-bottom: 1px solid #4B4136;
    display: flex;
    justify-content: space-between;

    .footer-lcontainer {
        max-width: 580px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        text-transform: none;
        letter-spacing: normal;

        h2 {
            padding: 0;
        }

        .lorem {
            padding-bottom: 70px;
        }

        .agree-policy {
            margin: 0 auto;
            width: 420px;

            .agree-btn {
                height: 50px;
                border: 1px solid #4B4136;
                text-align: center;
            }

            @media (max-width: 460px) {
                width: 90%;
                margin: 0 10px;            }
        }

        .policy {
            display: flex;
            justify-content: end;
            color: #FFAE2B;
            font-size: 14px;
        }
    }

    .icons {
        max-width: 216px;
        display: flex;
        margin: 0 auto;
        justify-content: space-between;

        .icon {
            border: 1px solid #4B4136;
            padding: 10px;
            margin: 5px;
        }
    }
}

.line {
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
        // display: inline-block;
        text-transform: none;
    }

    span {
        color: #FFAE2B;
    }

    a {
        text-decoration: none;
        color: #FFAE2B;
        text-transform: none;

        &:hover {
            color: #ACA592;
            cursor: pointer;
        }
    }
}
