.container {
    margin: 0 auto;
    max-width: 1200px;
    min-width: 320px;

    header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 25px;
        padding-bottom: 15px;

        .navbar {
            display: flex;

            .logo {
                text-decoration: none;
                font-size: 22px;
                color: #FFAE2B;
                padding-right: 30px;
            }

            .link {
                text-decoration: none;
                font-size: 11px;
                color: #ACA592;
                margin-right: 40px;

                &:hover {
                    color: #FFAE2B;
                }
            }
        }
    }
}
