.hero {
    display: flex;
    background: url(../img/image_back.jpg) no-repeat center;
    min-width: 1280px;

    .hero-container {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        max-width: 870px;
        padding-top: 120px;
        padding-bottom: 200px;

        p {
            color: #FFAE2B;
            padding: 0;
            margin: 0;
            letter-spacing: 2px;
        }
    }
}

.template {
    padding-top: 108px;

    p {
        letter-spacing: 2px;
    }

    .template-sec {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;

        img {
            box-shadow: 0 0 10px #00000064;
        }

        .portfolio {
            display: inline-block;
            border: 1px solid #4B4136;
            padding: 38px 38px 0px 38px;
            margin: 5px 5px;
        }
    }
}

.template-image {
    width: 100%;
    padding-top: 120px;
    padding-bottom: 120px;
    max-width: 1280px;
}

.services {
    padding-bottom: 115px;

    p {
        letter-spacing: 2px;
    }

    section {
        display: flex;
        justify-content: space-between;

        .service {
            border: 1px solid #4B4136;
            padding: 60px;
            text-align: left;

            .service-text {
                letter-spacing: normal;
                text-transform: none;
            }
        }
    }
}

.follow-container {
    padding-bottom: 120px;

    .follow {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 22px 0;
        border-top: 1px solid #4B4136;
        border-bottom: 1px solid #4B4136;

        .folow-text {
            line-height: 50px;
            font-size: 40px;
            text-transform: none;
            color: #FFAE2B;
            letter-spacing: normal;
        }
    }
}
