button {
    margin: 0 auto;
    background-color: #FFAE2B;
    color: #181511;
    text-transform: uppercase;

    :hover {
        opacity: 0.8;
    }
}

.button-nav {
    border: 1px solid #FFAE2B;
    background-color: transparent;
    color: #FFAE2B;
    padding: 15px 25px;
}

.button-hero {
    border: 1px solid #FFAE2B;
    padding: 13px 23px;
    left: 440px;
    bottom: 330px;
}

.button-inst {
    padding: 15px 25px;
    border: 1px solid #FFAE2B;
}

.button-subscribe {
    width: 420px;
    height: 50px;
    padding: 15px 170px;
    border: 1px solid #FFAE2B;
    font-size: 14px;
    text-transform: none;
}

input:focus,
button:focus {
    outline: none;
}

button,
input[type="submit"] {
    cursor: pointer;
}
