@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT&family=Roboto&display=swap");

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    font-family: 'Old Standard TT', serif;
    background-color: #181511;
    color: #ACA592;
    font-weight: 400;
    font-size: 12px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
}

ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 60px;
    line-height: 70px;
    font-weight: 400;
    text-align: center;
    color: #FFFFFF;
    text-transform: none;

    @media (max-width: 810px) {
        font-size: 40px;
    }
}

h2 {
    font-weight: 400;
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    color: #FFAE2B;
    padding-bottom: 60px;
    margin: 0 auto;
    text-transform: none;
}

h3 {
    font-weight: 400;
    font-size: 29px;
    line-height: 40px;
    color: #FFAE2B;
    text-transform: none;
}

h4 {
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color: #ACA592;
    text-transform: none;
}
